
.funcall {
	white-space: nowrap ;
}

.funargsp {
	margin-left: .5ex ;
}

.funargpt {
	margin-left: .1ex ;
}

.sqrt {
	text-decoration: overline ;
}

.fraction {
  display: inline-block ;
  margin-left: .1em ;
	margin-right: .1em ;
  vertical-align: -64% ;
  text-align: center ;
}

.fraction > .num, .fraction > .den {
  display: inline-block ;
  padding: 0 .1em ;
}

.fraction > .fracbar {
	display: block ;
  height: 0 ;
	margin: 0 ;
	border: 0 ;
  border-bottom: .1em solid ;
  overflow: hidden ;
}

.den{
	vertical-align: top ;
}

.parenthesis {
  height: 100% ;
  display: inline-block ;
}

