/* Importation des polices de caractères */
@import url("./font/Noto/font.css");
@import url("./font/Noto/font.css");

@import url('./math.css');


/* Composition de l'interface */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
}

/* Style général du tableau */
table {
    margin-left: 1%;
    width: 80%;
    height: 10%;
    border-collapse: collapse;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombrage doux */
    background-color: white; /* Couleur de fond du tableau */
}

td {
    border: 2px solid rgb(0, 0, 0);
    width: 100px;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s; /* Transition douce */
}

td:hover,
td:active {
    background-color: #f0f0f0; /* Couleur de survol */
}

.value-content {
	display: none ;
}

.value-display {
	white-space: nowrap ;
}

.value-display span {
	display: inline-block ;
}

.button_removeline {
    margin-left: 20%;
    padding: 8px 16px;
    background-color: #cccccc;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button_removeline:hover,
.button_removeline:active {
    background-color: #acacac;
}

table.read-mode button.add-value {
    display: none ;
}

table.read-mode td {
	position: relative ;
}

div.read-mode .verif-name-ok .dropdown:hover .dropdown-explanation {
	display: none ;
}

div.read-mode .verif-fun-ok,
div.read-mode .verif-fun-bad,
div.read-mode .verif-fun-unknown,
div.read-mode .verif-name-bad {
	display: inline-block ;
	position: relative ;
	padding: 10px ;
}

.read-mode .verif-fun-ok::after,
.read-mode .verif-val-ok::after,
.read-mode .verif-assert-ok::after,
.read-mode .verif-fun-bad::after,
.read-mode .verif-val-bad::after,
.read-mode .verif-val-eq::after,
.read-mode .verif-val-veryBad::after,
.read-mode .verif-val-unknown::after,
.read-mode .verif-assert-unknown::after,
.read-mode .verif-fun-unknown::after,
.read-mode .verif-assert-void::after,
.read-mode .verif-assert-bad::after,
.read-mode .verif-name-bad::after {
  font-size: 10px ;
	position: absolute ;
	bottom: 1px ;
	right: 1px ;
	text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0 1px white ;
	font-family: "Noto Color Emoji", emoji;
}

.read-mode .verif-fun-ok,
.read-mode .verif-val-ok,
.read-mode .verif-assert-ok {
    background-color: lightgreen;
}

.read-mode .verif-fun-ok::after,
.read-mode .verif-val-ok::after,
.read-mode .verif-assert-ok::after {
	content: "✔️" ;
}

.read-mode .verif-fun-bad,
.read-mode .verif-val-bad,
.read-mode .verif-assert-bad,
.read-mode .verif-name-bad {
    background-color: pink;
}

.read-mode .verif-fun-bad::after,
.read-mode .verif-val-bad::after,
.read-mode .verif-assert-bad::after,
.read-mode .verif-name-bad::after {
	content: "❌" ;
}

.read-mode .verif-val-eq {
    background-color: yellow;
}

.read-mode .verif-val-eq::after {
	content: "❔" ;
}

.read-mode .verif-val-veryBad {
    background-color: pink;
}

.read-mode .verif-val-veryBad::after {
	content: "❌" ;
}

.read-mode .verif-fun-unknown,
.read-mode .verif-val-unknown,
.read-mode .verif-assert-unknown,
.read-mode .verif-assert-void {
    background-color: lightgray;
}

.read-mode .verif-fun-unknown::after,
.read-mode .verif-val-unknown::after,
.read-mode .verif-assert-unknown::after {
	content: "❔" ;
}

.read-mode .verif-assert-void::after {
	content: "〰️" ;
}

/* Conteneur principal */
.container {
	  display: grid ;
		grid-template-columns: 1fr 1fr ;
    height: calc(100vh - 20px) ;
    width: calc(100vw - 20px) ;
    gap: 10px; /* Espacement entre les éléments */
    padding: 10px;
}

@media screen and (max-width: 1000px) {
	.container {
			height: 100vh ;
			width: 100vw ;
			gap: 0 ;
			padding: 0 ;
	}
}

@media screen and (max-width: 600px) {
	.container {
		grid-template-columns: 1fr ;
	}
}

/* Boîtes redimensionnables */
.fenetremodale, .fenetreinteraction, .zonetextuelle, .aide {
		position: relative ;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    min-width: 300px;
    min-height: 100px;
    overflow: auto; /* Permet le défilement si le contenu dépasse */
    resize: both; /* Permet le redimensionnement manuel horizontal et vertical */
}

/* Styles spécifiques des boîtes */
.fenetremodale {
    justify-content: center;
    overflow-x: auto;
}

.fenetreinteraction {
    overflow-x: auto;
    display: flex;
    justify-content: start;
    align-content: start;
    align-items: start;
    font-size: 24px;
}

.zonetextuelle {
    padding: 10px;
}

.aide {
    display: flex;
    justify-content: start;
    align-content: start;
    align-items: start;
    font-size: 24px;
}

.value-message {
	display: block ;
}

.error-message {
		display: block ;
    position: absolute;
    margin-top: 50px;
}

#valueDisplay {
    position: absolute;
    text-decoration: dashed;
}

.enter_function,
.enter_deriv_function {
    font-size: 20px;
    justify-content: start;
    padding: 10px;
}

#function-expr-container,
#function-derivation-container {
	width: auto ;
	display: inline-block ;
}

#function-expr,
#function-derivation {
	width: auto ;
}

#function-expr-display,
#function-derivation-display {
	cursor: text ;
}

input[type="text"] {
    width: 50px;
    height: 20px;
    padding: 2px;
    font-size: 16px;
    text-align: center;
    justify-content: start;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #3498db;
}

button {
		display: inline-block ;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

button:hover {
    background-color: #ddd;
    color: #333;
}

button:active {
    background-color: #ccc;
    color: #222;
}

.top-right-button {
    top: 0;
    right: 50%;
    font-size: 20px;
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.top-right-button:hover,
.top-right-button:active {
    background-color: #c0392b;
}


.read_write_button {
	display: inline-block ;
	display: flex ;
	justify-content: flex-end ;
}

.edit_mode_toggle,
.read_mode_toggle {
	font-weight: bold ;
  display: inline-block;
  vertical-align: middle;
	margin: 1ex ;
}

.edit_mode_toggle {
	color: darkslateblue ;
}

.read_mode_toggle {
	color: darkslategray ;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: darkslateblue ;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: darkslategray ;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkslategray ;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.zonetextuelle textarea {
	resize: vertical ;
}

.zonetextuelle .retourAssistant,
.zonetextuelle .erreurAssistant,
.zonetextuelle .insertAssistant,
.zonetextuelle .entreeAssistant,
.zonetextuelle .entreeAssistantEnCours {
	width: 100% ;
	resize: vertical ;
	display: table-cell ;
	box-sizing: border-box ;
	min-height: 1.2em ;
	border: none;
	outline: none;
	font-size: 20px;
	padding: 0 1ex ;
	font-family: monospace, ui-monospace;
	height: 100% ;
	margin: 0 ;
}

.zonetextuelle .retourAssistant,
.zonetextuelle .erreurAssistant,
.zonetextuelle .insertAssistant,
.zonetextuelle .entreeAssistant,
.zonetextuelle .entreeAssistantEnCours {
	display: table ;
	padding: 0 ;
	border-spacing: 0 ;
}

.zonetextuelle .retourAssistant::after,
.zonetextuelle .erreurAssistant::after,
.zonetextuelle .insertAssistant::before,
.zonetextuelle .entreeAssistant::before,
.zonetextuelle .entreeAssistantEnCours::before {
	display: table-cell ;
	vertical-align: middle;
	text-align: center;
	width: 1.2em ;
	height: 100% ;
	text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0 1px white ;
	font-family: "Noto Color Emoji", emoji;
}

.zonetextuelle .insertAssistant:hover::before,
.zonetextuelle .insertAssistant:active::before,
.zonetextuelle .entreeAssistant:hover::before,
.zonetextuelle .entreeAssistant:active::before,
.zonetextuelle .entreeAssistantEnCours:hover::before,
.zonetextuelle .entreeAssistantEnCours:active::before {
	content: "✏️" ;
}

.zonetextuelle textarea.insertAssistant,
.zonetextuelle textarea.entreeAssistant,
.zonetextuelle textarea.entreeAssistantEnCours {
	padding-left: 1ex ;
}

.zonetextuelle .retourAssistant,
.zonetextuelle .erreurAssistant {
	text-align: end;
	/* font-size: 80%; */
}

.zonetextuelle .retourAssistant {
	/* border-right: 1ex solid purple; */
	background-color: hwb(from purple h 90% 5%) ;
}

.zonetextuelle .retourAssistant::after {
	background-color: purple ;
	content: "🐓" ;
	border-left: 1ex solid hwb(from purple h 90% 5%) ;
}

.zonetextuelle .erreurAssistant {
	/* border-right: 1ex solid crimson; */
	background-color: hwb(from crimson h 90% 5%) ;
}

.zonetextuelle .erreurAssistant::after {
	background-color: crimson ;
	content: "🐣" ;
	border-left: 1ex solid hwb(from crimson h 90% 5%) ;
}

.zonetextuelle textarea.insertAssistant {
	/* border-left: 1ex solid teal; */
	background-color: hwb(from teal h 90% 5%) ;
}

.zonetextuelle .insertAssistant::before {
	background-color: teal ;
	content: "🤖" ; / * 📊 * /
}

.zonetextuelle textarea.entreeAssistant {
	/* border-left: 1ex solid green; */
	background-color: hwb(from green h 90% 5%) ;
}

.zonetextuelle .entreeAssistant::before {
	background-color: green ;
	content: "👤" ;
}

.zonetextuelle textarea.entreeAssistantEnCours {
	/* border-left: 1ex solid olive; */
	background-color: hwb(from olive h 90% 5%) ;
}

.zonetextuelle .entreeAssistantEnCours::before {
	background-color: olive ;
	content: "✏️" ;
}


/* Style des constantes */
.constant-container {
    margin-top: 5px;
}
.constant-inputs {
    margin-bottom: 10px;
}
.constant-inputs input {
    width: 150px;
    height: 15px;
    font-size: 16px;
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Style pour les colonnes */
td {
    width: 100px;
    text-align: center;
    border-left: none;
}

td:first-child {
    width: 100px;
    text-align: center;
    white-space: nowrap;
		border-left: 2px solid black ;
}

td:not(:first-child):not(:last-child) {
    border-right: none;
}

/* Une bordure uniquement à la première cellule éditable */
td.editable-cell.first-cell {
    border: 2px solid black;
}

/* Boutons */
.add-value, .add-line {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-value::before {
    content: "➕";
    font-size: 24px;
    color: rgb(0, 0, 0);
}

button.add-value[disabled] {
    background-color: #ccc;
    opacity: 0.5;
    cursor: not-allowed;
}

.add-value:hover,
.add-line:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
}
.add-value:active,
.add-line:active {
    background-color: #d0d0d0;
    border-color: #999;
}

button.moreLess {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

button.moreLess:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
}

button.moreLess:active {
    background-color: #d0d0d0;
    border-color: #999;
}

button.VI {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

button.VI:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
}

button.VI:active {
    background-color: #d0d0d0;
    border-color: #b8b8b8;
}

button.increase {
    padding: 5px 10px;
    font-size: 2em;
    margin-top: 5px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

button.increase:hover {
    background-color: #e0e0e0;
    border-color: #a5a5a5;
}

button.increase:active {
    background-color: #d0d0d0;
    border-color: #999;
}


/* Menu déroulant */
.edit-mode .dropdown {
    position: relative;
    display: inline-block;
    overflow-block: visible;
		min-width: 1em ;
		min-height: 1ex ;
}

.read-mode .dropdown-content {
    display: none;
}

.edit-mode .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
}

.edit-mode .dropdown:hover .dropdown-content,
.edit-mode .dropdown:active .dropdown-content,
.edit-mode .dropdown .dropdown-content:active {
	display: block ;
}

.edit-mode .dropdown-content button {
    color: black;
		background-color: white ;
    padding: 6px ;
    text-decoration: none;
    display: block;
		width: 100% ;
}

.edit-mode .dropdown-content button:hover,
.edit-mode .dropdown-content button:active {
    background-color: #3498db;
    color: white;
}

.edit-mode .dropdown:hover .dropdown-content,
.edit-mode .dropdown:active .dropdown-content {
    display: block;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.edit-mode .dropdown-explanation {
	display: none ;
}

.read-mode .dropdown-explanation {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 15px;
	padding: 6px ;
	border: 2px solid black ;
}

.read-mode .dropdown:hover .dropdown-explanation,
.read-mode .dropdown:active .dropdown-explanation,
.read-mode .dropdown .dropdown-explanation:active {
	display: block ;
}

.explanation-link {
	display: block ;
  border: none;
  border-radius: 5px;
	padding: 3px;
	background-color: #f0f0f0;
	color: #000;
}

.explanation-link:hover,
.explanation-link:active {
	background-color: #e0e0e0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

